<div class="row">
	<h1>Welcome to the POC of Project Management </h1>

	<div>
		<h6 style = "float: right;"> 
			<%= link_to "Create Dummy Database", welcome_update_database_path %> 
		</h6>			
		<h2> <%= link_to "Project Dashboard", projects_path %> </h6>
	</div>
</div>


